<div class="small_header">
    <div class="container">
        <h1>What I've laerned and what I'm learning</h1>
    </div>
</div>
<div class="banner">
    <ul>
        <li>
          <%= image_tag 'typing.jpeg',class: "port_slider" %>
        </li>
        <li>
          <%= image_tag 'mac-glasses.jpeg', class: "port_slider" %>
        </li>
        <li>
          <%= image_tag 'break.jpeg', class: "port_slider" %>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Coder Manual</h2>
            <%= link_to "http://courses.codermanual.com", target: "_blank" do %>
              <%= image_tag 'coder_manual.png',class: "port" %>
            <% end %>
        </div>
        <div class="col-md-5">
            <h2>Codecademy</h2>
            <%= link_to "https://www.codecademy.com/Hiro_Shinoe", target: "_blank" do %>
              <%= image_tag 'codecademy.png', class: "port", style: "width: 70%;" %>
            <% end %>
        </div>
    </div>
</div>