<div class="header">
  <div class="container">
    <div class="logo">
      <%= link_to "#" do %>
      <%= image_tag("logo.png") %>
      <% end %>
    </div>
  </div>
  <div class="navbar">
    <div class="container">
      <ul class="nav">
        <li>
          <%= link_to "Home", "#" %>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <%= link_to "Portfolio", "#" %>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <%= link_to "Blog", "#" %>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <%= link_to "About", "#" %>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <%= link_to "Contact", "#" %>
        </li>
      </ul>
    </div>
    <div class="footer">
      <ul class="list-inline footer-social">
        <li>
          <%= link_to "https://github.com/Hiroyuki-Shinoe", target: "_blank" do %>
          <i class="fa fa-github-square"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.facebook.com/hiro.shinoe", target: "_blank" do %>
          <i class="fa fa-facebook"></i>
          <% end %>
        </li>
      </ul>
      <p class="copyright">&copy; 2015 Hiro. All Rights Reserved.</p>
    </div>
  </div>
</div>
</div>

<div class="main">
  <div class="container">
    <h2>
      Hello. My name is Hiro Shinoe
    </h2>
    <p>
      I'm learning web developing<br>
      with HTML, CSS, jQuery, JavaScript, and Ruby On Rails !
    </p>
  </div>
  <div class="container">
    <%= link_to "View my Work", "#", class: 'btn btn-primary' %>
  </div>
</div>











